DBVortaro.v11.suo
Vortaro/bin/log-error.config
Vortaro/bin/log-file.config
Vortaro/bin/Vortaro.dll
Vortaro/bin/Vortaro.pdb
Vortaro/bin/VortaroModel.dll
Vortaro/bin/VortaroModel.pdb
Vortaro/obj/Debug/DBVortaro.csprojResolveAssemblyReference.cache
Vortaro/obj/Debug/Vortaro.dll
Vortaro/obj/Debug/Vortaro.pdb
VortaroModel/bin/Debug/VortaroModel.dll
VortaroModel/bin/Debug/VortaroModel.pdb
VortaroModel/obj/Debug/VortaroModel.dll
VortaroModel/obj/Debug/VortaroModel.pdb
