<div class="panel" style="min-height:600px;" >
<div class="wrapper" style="min-height:400px;width:95%;" >
	<div style="text-align:center;color:#555;"><b>项目：<%=projectName%></b></div><br/>
	<div>
    <% for (j = 0; j < list.length; j ++) { %>
		<table style="width: 100%;">
			<tr>
				<td colspan="5" style="font-weight:bold;line-height:20px;">
					数据库：<%=list[j].databaseName %>
				</td>
			</tr>
			<tr class="text-center">
                <th style="width:60px">序号</th>
                <th>分组</th>
				<th>表名</th>
				<th>别名</th>
                <th>作者</th>
			</tr>
            <% var childrenList = list[j].list; 
            for (i = 0; i < childrenList.length; i ++) {
            %>
                <tr>
                    <td style="padding-left:10px;"><%= i+1 %></td>
                    <td class="text-center"><%= childrenList[i].GroupName %></td>
					<td>
                    <a href="<%= childrenList[i].Url %>"><%= childrenList[i].Name %></a>
                    </td>
					<td>
					<a href="<%= childrenList[i].Url %>"><%= childrenList[i].Alias %></a>
					</td>
                    <td class="text-center"><%= childrenList[i].Author %></td>
				</tr>
	        <% } %>
		</table>
        <br />
    <% } %>
	</div>
</div>
</div>
<%include('./Items/footer')%>