<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@title</title>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../Style/Panel/Panel.css" rel="stylesheet" type="text/css" />
	<link href="../Style/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="panel" style="min-height:600px;" >
    <div class="wrapper" style="width:95%;" >
			<div style="text-align:center;"><b>@name（@alias）</b></div><br/>
			<div>
				@table
			</div>
			<div style="padding-top:20px;text-align:center;">
			<a href="javascript:;" onclick="javascript:history.go(-1);">返回</a>
			</div>
		</div>
	</div>
	<div style="text-align:center;height:50px;">
		@footer
	</div>
</body>
</html>