<div class="panel" style="min-height:600px;" >
<div class="wrapper" style="width:95%;" >
	<div style="text-align:center;"><b><%=Alias %>（<%=Name %>）</b></div><br/>
	<div>
		<table style="width: 100%;">
			<tr class="text-center">
                <th style="width:60px">序号</th>
				<th>字段</th>
				<th>类型</th>
				<th>说明</th>
				<th>作者</th>
				<th>时间</th>
			</tr>
            <% for (i = 0; i < list.length; i ++) { %>
			<tr>
                <td style="padding-left:10px;"><%= i+1 %></td>
				<td><%=list[i].Name %></td>
				<td><%=list[i].Type %></td>
				<td><%=list[i].Bewrite %></td>
				<td class="text-center"><%=list[i].Author %></td>
				<td class="text-center"><%=list[i].CreateTime %></td>
			</tr>
            <%} %>
		</table>
	</div>
	<div style="padding-top:20px;text-align:center;">
	<a href="javascript:;" onclick="javascript:history.go(-1);">返回</a>
	</div>
</div>
</div>
<%include('footer')%>